nav .nav-item{
    border-right: 1px solid #ccc !important;
}
.nav-link{
    color: black;
    font-size: 18px;
}
.show-logo{
    display: block;
}
.hide-logo{
    display: none;
}
.fixed-top{
    box-shadow: 1px 9px 18px -4px rgba(0, 0, 0, .4);
    transition: top 1s;
}
.breadcrumb{
    margin: 3rem 0;
}
.breadcrumb-item.active{
    margin-top: 5px;
}

.section{
    margin-top: 50px;
}
.section .sticky-title {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #ddd8d8;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.section .sticky-title a {
    background: #fff;
    padding: 0 30px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover p{
    color: black;
}
a p{
    color: #5a5a5a !important;
}
.list-group-item{
    position: relative;
    display: block;
}

.border-secondary{
    border-color: #6c757d !important;
}
.border-end{
    border-right: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
}
.lead_area h1{
    font-size: 28px;
}


/* Tabs Area style */
.tabs_area .nav-item {
    width: 33%;
    font-size: 16px;
}

.tabs_area .nav-tabs .nav-link{
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, .7);
    border: unset;
    border-radius: unset;
    padding-right: 0;
    padding-left: 0;
}

.nav-tabs .nav-link.active,
.tabs_area .nav-tabs .nav-item.show .nav-link{
    color: red;
}
.tabs_area .section-list li span{
    color: #ed1c24;
}
.tabs_area .section-list li time{
    color: #3e4750;
    float: left;
    padding-right: 4px;
}

.tabs_area .tab-content .list-group{
    height: 400px;
    overflow-y: scroll;
}
.tabs_area .section-list li{
    position: relative;
    min-height: auto;
}

.tabs_area .section-list li:before{
    position: absolute;
    left: 0;
    color: #ed1c24;
    top: 11px;
}
/* End Of Tabs Area style */


/* highlight more items */
.col{
    flex: 1 0;
}
.highlightMoreIteam{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.highlightMoreIteam .list-group-item,
.highlightMoreIteam .list-group-item:last-child{
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
    border: unset;
}

.leadArea .list-group-item {
    min-height: 73px;
}
.highlightMoreIteam li{
    list-style: none;
    flex: 0 0 33.333333%;
    overflow: hidden;
    padding-right: 15px !important;
}
.highlightMoreIteam li{
    border-bottom: unset !important;
}
.highlightMoreIteam li a{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
    height: 100%;
}
/* End of highlight more items */

/* Anniversary Section */
.anniversary{
    margin-top: 20px;
    background: #bde9fc;
}
.anniversary_title{
    width: 100%;
    display: block;
    padding-bottom: 10px;
    border-bottom: 2px solid #00814e;
}
.anniversary_title_text{
    height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 28px;
    color: black;
}
/* End of anniversary section */

/* sobishesh section */
.sobishesh .nav-tabs .nav-link{
    color: #aaa;
}
.sobishesh .nav-tabs .nav-link.active{
    border-bottom: 2px solid blue !important;
    color: #222;
}
.sobishesh .list-unstyled a h5{
    font-size: 18px;
}
/* End of sobishesh section */